<html>

<head>
    <title>Make a Reservation</title>
</head>


<body>

    </div>
    {% for error in messages %}
    <div class="text-center m-3 alert alert-danger">
        {{error}}
    </div>
    {% endfor %}
    <form class="user" method="post" action="{% url 'CarRental:makereservation' %}">

        {% csrf_token %}

        <div class="form-group">
            <input type="date" class="form-control form-control-user" placeholder="Pickup Date" name="pickup_date"
                id="pickup_date">
        </div>

        <div class="form-group">
            <input type="date" class="form-control form-control-user" placeholder="Dropoff Date" name="dropoff_date"
                id="dropoff_date">
        </div>


        <div class="form-group row">
            <div class="offset-3 col-sm-6 mb-3 mb-sm-0">
                <select class="form-control" id="userTypeSelect" name="vehicle_class_id">
                    {% for car_class in Car_classes %}

                    <option value="{{car_class.id}}">{{car_class.class_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-3 col-sm-6 mb-3 mb-sm-0">
                <select class="form-control" id="userTypeSelect" name="pickup_office_id">
                    {% for office in Offices %}

                    <option value="{{office.id}}">{{office.city}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-3 col-sm-6 mb-3 mb-sm-0">
                <select class="form-control" id="userTypeSelect" name="dropoff_office_id">
                    {% for office in Offices %}

                    <option value="{{office.id}}">{{office.city}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>





        <button type="submit" class="btn btn-danger btn-user btn-block">
            Make Reservation
        </button>

    </form>


    <h1>Our available Car Classes</h1>
    <div class="form-group row">
        <div class="offset-3 col-sm-6 mb-3 mb-sm-0">
            <ul>
                {% for car_class in Car_classes %}

                <li>{{car_class.class_name}}: The daily rate is : {{car_class.daily_rate}}$</li>
                {% endfor %}
            </ul>
        </div>
    </div>




    <a class="btn btn-primary" href="{% url 'CarRental:logout' %}">Logout</a>

</body>

</html>